.userMfeMenuContainer {
  padding: 8px;
  margin-right: 32px;
  position: relative;
  cursor: pointer;
}

.userMfeLogoutButton {
  color: green;
}

.userMfeogoutButton:hover {
  background-color: #b7d3b9;
}
